<h4>Internal Server error - Refreshing the page will make error dissapear!</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error:{{ error }}</h5>
  <p class="font-weight-bold">
    Note: If your seeing thsi then Angular is not to blame
  </p>
  <p>What to do the next</p>
  <ol>
    <li>Open the chrome dev tools</li>
    <li>Inspect the Network tab</li>
    <li>Check the failing Request</li>
    <li>Examine the request url</li>
  </ol>
  <p>Following is the stack trace- this is where you should start!</p>
  <code class="mt-5" style="background-color: whitesmoke">{{ error}}</code>
</ng-container>
